<div class="banner">
    <div class="container d-flex">
        <div>
            <a href="mailto:ediongi6@hotmail.com">ediongi6@hotmail.com</a>
            <a href="tel:+2348119715101">(+234) 811 971 5101</a>
        </div>

        <div>
            <select id="language" name="language">
                <option selected>English</option>
                <option>French</option>
                <option>Japanese</option>
            </select>

            <select name="currency" id="currency">
                <option value="USD">USD</option>
                <option value="NGN">NGN</option>
                <option value="CAD">CAD</option>
            </select>

            <a href="#">Login</a>
            <a href="#">Wishlist</a>
            <a href="#">cart</a>

        </div>
    </div>
</div>