a {
  display: block;
  color: inherit;
}

.banner {
  background-color: #fb2e86;
  color: #ffffff;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-flex div {
  display: flex;
}
